.flex-box {
  display: flex;
  justify-content: center;
}

.flex-box-child1 {
  flex-basis: 70%;
}

.flex-box-child2 {
  flex-basis: 30%;
}

.parent{
  display: inline-flex;

}

.flex-box-subchild1 {
  float: left;
}

.flex-box-subchild2 {
  flex-basis: 30%;
}

.flex-box-charts {
  display: flex;
  justify-content: center;
}

circle {
  fill: lightblue;
  stroke: black;
}

.navbar {
  background-color: #333;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0px 0px;
}

.navbar a:hover {
  background-color: #555;
}

.flex-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#legend svg {
  height: 200px;
  width: 200px;
}